.App {
  text-align: center;
}

.App-header {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px);
  color: white;
  position: fixed;
}
